@import "tailwindcss";
@import "tailwindcss-animated";

.Nav-Item{
  @apply lg:text-2xl px-5 border-b-5 border-gray-400/15 rounded-2xl place-content-end;
}

.Text-Box{
  @apply col-span-full lg:col-span-2 md:row-span-1 text-center text-black text-2xl lg:text-4xl p-5;
}

.Portal-Btn{
  @apply p-2 rounded-t-2xl md:text-2xl border border-red-400/40 place-content-end;
}

.Table-header{
  @apply md:text-2xl bg-slate-400 border md:text-center font-bold md:p-5;
}
.Table-item{
  @apply text-center md:text-2xl border; 
}