@import "tailwindcss";
@import "tailwindcss-animated";

.Nav-Item{
  @apply lg:text-2xl px-5 border-b-5 border-gray-400/15 rounded-2xl place-content-end;
}

.Text-Box{
  @apply col-span-full lg:col-span-2 md:row-span-1 text-center text-black text-2xl lg:text-4xl p-5;
}
